$primary-color:#444;
$secondary-color:#eece1a;
$show-home-image:true;
$home-image:url(../img/background.jpg);
$background-opacity:0.7;
@mixin easeout {
    transition: all 0.7s ease-out;
}
@mixin background{
    @if $show-home-image{
            &#bg-img{
                background: $home-image;
                background-size: cover;
                background-attachment: fixed;
            
            .overlay{
                position: absolute;
                top:0;
                right: 0;
                
                height: 100%;
                width: 100%;
                z-index: -1;
                background-color: rgba($primary-color,$background-opacity);
            }
                
               
            }
    }
}
//set text color always visible
@function set-text-color($color){
      @if(lightness($color)>40){
         @return #000;
      }@else{
          @return #fff;
      }
}

//Media Query  mixins
@mixin mediaSm{
    @media screen and (max-width:500px){
        @content;
    }
}
@mixin mediaMd{
    @media screen and (max-width:768px){
        @content;
    }
}
@mixin mediaLg{
    @media screen and (min-width:769px)  and (max-width:1178px){
        @content;
    }
}
@mixin mediaXl{
    @media screen and (min-width:1179px){
        @content;
    }
}